SRC_CONTAINER_IMAGE_REGISTRY_URL=sagcr.azurecr.io
SRC_CONTAINER_IMAGE_REGISTRY_USER=
SRC_CONTAINER_IMAGE_REGISTRY_PASS=

DST_CONTAINER_IMAGE_REGISTRY_URL=gccdevopsacr.azurecr.io
DST_CONTAINER_IMAGE_REGISTRY_USER=
DST_CONTAINER_IMAGE_REGISTRY_PASS=